---
layout: default
---

<div class="gh-posts-list-wrapper">
{% for post in paginator.posts %}
  <div class="gh-posts-list-item">
    <span class="gh-posts-list-item-name gh-left"><a href="{{ post.url }}">{{ post.title }}</a></span>
    <span class="gh-posts-list-item-date gh-right">{{ post.date | date: "%Y-%m-%d" }}</span>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="gh-list-pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="gh-left">Previous</a>
    {% else %}
      <span class="gh-left">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="gh-right">Next</a>
    {% else %}
      <span class="gh-right">Next</span>
    {% endif %}
  </div>
{% endif %}
</div>