<div class="gh-hd-site-info">
  </a><span class="gh-hd-info-name"><a herf="/"></a>{{ site.name }}</a></span>
  <span class="gh-hd-info-desc">{{ site.description }}</span>
</div>
<nav class="gh-hd-nav">
  <ul class="gh-hd-site-nav">
    <li class="gh-hd-site-nav-item"><a href="/">Blog</a></li>
    <li class="gh-hd-site-nav-item"><a href="/categories">Categories</a></li>
    <li class="gh-hd-site-nav-item"><a href="/projects">Projects</a></li>
    <li class="gh-hd-site-nav-item"><a href="/about">About</a></li>
  </ul>
</nav>