{% if site.email %}<a href="mailto:{{ site.email }}"><i class="svg-icon icon-email"></i></a>{% endif %}
{% if site.facebook %}<a href="https://www.facebook.com/{{ site.facebook }}"><i class="svg-icon icon-facebook"></i></a>{% endif %}
{% if site.github %}<a href="https://github.com/{{ site.github }}"><i class="svg-icon icon-github"></i></a>{% endif %}
{% if site.googleplus %}<a href="https://plus.google.com/{{ site.github }}"><i class="svg-icon icon-googleplus"></i></a>{% endif %}
{% if site.twitter %}<a href="https://twitter.com/{{ site.github }}"><i class="svg-icon icon-twitter"></i></a>{% endif %}
{% if site.linkedin %}<a href="https://linkedin.com/{{ site.github }}"><i class="svg-icon icon-linkedin"></i></a>{% endif %}