/*
 * 404.scss
 * Author: Chen Su <i@ghosind.com>
 */

@charset "utf-8";

.page-404-cannot-find {
  font-size: 2em;
  text-align: center;
}

.page-404-games {
  margin-top: 10px;
  overflow: hidden;
}
