/*
 * header.scss
 * Author: Chen Su <i@ghosind.com>
 */

@charset "utf-8";

.gh-header {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px #aaa;
  overflow: hidden;
}

.gh-hd-site-info {
  display: block;
  position: relative;
  margin: 10px;
}

.gh-hd-info-name {
  font-size: 2em;
  font-weight: bold;
}

.gh-hd-info-desc {
  font-size: .9em;
}

.gh-hd-site-nav {
  list-style: none;
  margin: 0;
}

.gh-hd-site-nav-item {
  display: block;
  position: relative;
  float: left;
  margin: 0 10px;
}