/*
 * page.scss
 * Author: Chen Su <i@ghosind.com>
 */

@charset "utf-8";

.page-title {
  text-align: center;
}

.page-content {
  line-height: 24px;
}

.page-content img, .page-content svg {
  display: block;
  margin: 10px auto;
}
