/*
 * post.scss
 * Author: Chen Su <i@ghosind.com>
 */

@charset "utf-8";

.post-title {
  text-align: center;
}

.post-excerpt {
  padding: 10px;
}

.post-content {
  line-height: 24px;
}

.post-content img, .post-content svg {
  display: block;
  margin: 10px auto;
}

.post-info {
  margin: 10px 0;
  line-height: 24px;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
