/*
 * post.scss
 * Author: Chen Su <i@ghosind.com>
 */

@charset "utf-8";

.gh-post-title {
  text-align: center;
}

.gh-post-content p {
  line-height: 20px;
}

.gh-post-content img {
  display: block;
  margin: 10px auto;
}

.gh-post-other {
  margin: 10px 0;
  line-height: 24px;
}

.gh-post-category, .gh-post-tag {
  margin: 0 5px;
}