---
layout: default
title: Categories
permalink: /categories/
---

<article class="gh-post">
  <h1>Categories</h1>
  <ul class="gh-categories-list">
    {% for category in site.categories %}
      <li id="{{ category | first }}">{{ category | first }}</li>
      <li>
        <ul class="gh-category-list">
        {% assign sorted_posts = site.posts | sort: 'date' %}{% for post in sorted_posts %}{%if post.categories contains category[0]%}
          <li><span>{{ post.date | date: "%B %e, %Y" }}: </span><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}{% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</article>