<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}{% if site.description%} - {{ site.description }}{% endif %}</title>
{% include meta.html %}
  
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  {% include google_analytics.html %}
</head>
<body>
  <div class="wrap">
    <header class="top-wrap">
      <div class="container">
        <a href="/" class="top-avatar"><img src="{{ site.baseurl }}/images/logo.jpg" alt="website logo"></a>
        <div class="top-info">
          <h1 class="top-name">{{ site.name }}</h1>
          <p class="top-description">{{ site.description }}</p>
        </div>
        <nav class="top-nav">
          <a href="/">Blog</a>
          <a href="/categories">Categories</a>
          <a href="/about">About</a>
        </nav>
      </div>
    </header>
    <main class="main-wrap">
      <div class="container">
        {{ content }}
      </div>
    </main>
    <footer class="footer-wrap">
      <div class="container">
        <div class="footer-links">
          {% include links.html %}
        </div>
      </div>
    </footer>
  </div>
</body>
</html>