---
layout: default
---

<article class="gh-post">
  <div class="gh-post-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="gh-post-author">
    <span>{{ site.author }}</span>
  </div>
  <div class="gh-post-content">
    {{ content }}
  </div>
  <div class="gh-post-other">
    <div class="gh-post-date">
      Written on {{ page.date | date: "%B %e, %Y" }}.
    </div>
    <div class="gh-post-categories">
      <span>Categories:</span>
      {% for category in page.categories %}
      <a href="{{ site.baseurl }}/categories#{{ category }}" class="gh-post-category">{{ category }}</a>
      {% endfor %}
    </div>
    <div class="gh-post-tags">
      <span>Tags:</span>
      {% for tag in page.tags %}
      <span class="gh-post-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="gh-post-tools">
      {% if page.next %}
      <div>
        <span>Next: </span><a href="{{ page.next.url }}">{{ page.next.title }}</a>
      </div>
      {% endif %}
      {% if page.previous %}
      <div>
        <span>Previous: </span><a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</article>